:root {
  --bg: #0d1117;
  --bg-card: #161b22;
  --text: #e5e7eb;
  --secondary-text: #9ca3af;
  --primary: #3b82f6;      
  --accent: #8b5cf6;    
      --bs-border-width: 0px;   
      scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 0.625rem;
}
::-webkit-scrollbar-thumb {
    background-color: var(--bg);
    border-radius: 50px;
    box-shadow: 0 0 5px rgb(0 0 0 / 0.5) inset;
    height: 130px;
}
::-webkit-scrollbar-track {
    background-color: var(--bg-card);
}

/* Body */
body {
  background: var(--bg);
  color: var(--text);
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background-image: linear-gradient(to bottom right, #0d1117, #1c1f26);
   font-family: "Comfortaa", sans-serif;
}
header img{
    max-height: 30vh;
    object-fit: cover;
}
/* NAV */
.navbar {
background-color: transparent!important;
}

.navbar .container {
  background: rgba(22, 27, 34, 0.5);
  padding: 13px 25px;
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,.06);
}
.navbar .container .logo img{
width: 40px;
height: 40px;
margin-right: 10px;
}
.navbar .container .logo a{
font-style: italic;
font-weight: 700 !important;
}
.navbar .nav-link {
    color: var(--text) !important;
    font-size: 14px !important;
    text-transform: capitalize;
    cursor: pointer;
}
.navbar .nav-link:hover{
    color: var(--primary) !important;
}
.nav-link.active{
    color: var(--primary) !important;
}
/* end Nav */
/* !start Home */
.home .card{
    background-color: var(--bg-card);
    color: var(--text);
    border: 1px solid var(--bg) !important;
    border-width: var(--bs-border-width);
    transition: 0.8s transform;
    cursor: pointer;
    height: 400px;
}
.home .card img{
    height:200px;
    border-radius: 15px;
    object-fit: cover;
    filter: grayscale(100%);
    transition: 0.8s filter;
    padding: 8px;
}
.home .card .card-body{
    padding: 10px 15px ;
    border-bottom: 1px solid var(--bg);
    text-align: center;
}
.home .card .card-body span ,.home .card .card-body a{
    font-size: 12px;
    cursor: pointer;
}
.home .card .card-body a{
    background-color: var(--primary);
    padding: 3px 10px;
    border-radius: 8px;
}
.home .card .card-body small{
    font-size: 12px !important;
    color: var(--secondary-text);
    cursor: pointer;
    font-weight: 700;
}
.home .card .card-footer small{
    color: var(--text);
    background-color: var(--primary);
    padding: 5px;
    border-radius: 7px;
    font-size: 10px;
}
.home .card:hover{
    transform: scale(1.05);
}
.home .card:hover img{
filter: grayscale(0%);
}
/* !end Home */
/*  todo start  details */
.details{
  background: var(--bg);
  background-image: linear-gradient(to bottom right, #0d1117, #1c1f26);
position: absolute;
top: -30px;
left: 0;
width: 100%;
height: 100%;
z-index: 9999;
}
.details .all-details span{
font-size: 14px;
display: block;
font-weight: 800;
margin-block: 15px;
}
.details .all-details span small{
    font-size: 13px;
    background-color: var(--primary);
    padding: 5px 8px;
    border-radius: 10px;
    margin-left: 10px;
    font-weight: 800;
    font-style: italic;
}
.details .all-details p{
    font-size: 12px;
    line-height: 1.5;
    font-weight: 800;
}
.details .all-details a{
    border-color:#ffc107 ;
          --bs-border-width: 1px;   
}
/*  todo end  details */
.loader-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
}

.loader {
  width: 60px;
  height: 60px;
  border: 6px solid #3A497B; 
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
footer{
    background-color: var(--bg-card);
}
footer h5{
    letter-spacing: 1.6px;
     text-shadow: 0 0 10px var(--accent), 0 0 20px var(--accent), 0 0 40px var(--accent);

}